.container {
  display: flex;
  justify-content: center; /* 가운데 정렬 */
}

.boards {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin-right: 20px; /* 우측 여백 추가 */
}

.board-section {
  border: 1px solid #ddd;
  padding: 10px;
  margin: 10px;
}

#free_board_text,
#sale_board_text {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
  text-align: center; /* 가운데 정렬 */
}

#free_board_space,
#sale_board_space {
  border: 1px solid #ddd;
  padding: 10px;
}


.pagination {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.pagination li {
  margin: 0 5px;
}

.pagination button {
  cursor: pointer;
  border: none;
  background-color: #ddd;
  padding: 5px 10px;
}

.pagination button.active {
  background-color: #4caf50;
  color: white;
}

#free_board_more,
#sale_board_more {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}


#free_board_text,
#sale_board_text,
#free_board_more,
#sale_board_more{
  margin: 0; /* 요소들의 기본 마진을 제거하여 정확한 가운데 정렬 */
}


#free_board_text,
#sale_board_text {
  border-bottom: 1px solid #ddd;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

#free_board_more,
#sale_board_more {
  display: block;
  text-align: center;
  margin-top: 20px;
  padding: 10px;
  background-color: #4caf50;
  color: white;
  text-decoration: none;
}
